html {
  background-color: #0c0a3b;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 32px;
}
.img-responsive {
  max-width: 100%;
  display: block;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.instagram-embeds {
  margin: 30px 0;
}
.card {
  background-color: white;
  margin: 30px 0;
  font-family: "Montserrat";
  font-size: 14px;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #087fad;
  text-decoration: none;
  margin-top: 20px;
}
.card h4 {
  font-weight: 700;
  font-size: 24px;
  color: #272044;
}
.card h5 {
  font-weight: 700;
  font-size: 13px;
  color: #272044;
}
.card p {
  margin-bottom: 15px;
}
.text-center {
  text-align: center;
}
section {
  margin: 0 auto;
  padding: 100px auto;
  font-family: "Manrope", sans-serif;
}
section.secondary {
  background: #f8f8f8;
  padding: 20px;
}
section.gallery {
  background: #2f2f4b;
}
.gallery h2 {
  color: white;
  padding-top: 20px;
}
.gallery h3 {
  color: white;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../images/Kyoto-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
  font-family: "Playfair Display", serif;
}
header h1 {
  font-weight: 700;
  font-size: 86px;
  line-height: 1;
  margin: 30px 0;
  color: white;
}
header h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 20px;
  opacity: 0.7;
}
header h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: white;
}
header a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 32px;
  color: #272044;
  background: white;
  display: inline-block;
}
main {
  background-color: white;
  padding: 50px;
}
.main-img {
  max-width: 600px;
  padding-top: 30px;
}
h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
  color: #272044;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}
footer {
  color: white;
  font-family: "Tajawal", sans-serif;
  font-size: 14px;
  background-image: linear-gradient(
      rgba(10, 63, 126, 0.6),
      rgba(10, 63, 126, 0.6)
    ),
    url("/images/japan-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 46px;
  }
  header h2 {
    font-size: 26px;
  }
  header h3 {
    font-size: 20px;
  }
  .card-header img {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
}
